.cart-widget {
    position: fixed;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
  }
  
  .cart-widget span {
    background-color: #0e2d4f;
    color: rgb(12, 12, 12);
    border-radius: 50%;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    position: fixed;
    top: -0.5rem;
    right: -0.5rem;
  }
  