
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #8bbced;
    padding: 1rem 2rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 3rem; 
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline;
  }
  
  .navbar a {
    text-decoration: none;
    color: #007bff;
    font-size: 1rem; /* Ajusta el tamaño de la fuente */
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #0056b3;
  }
  
  /* CartWidget CSS */
  .cart-widget {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .cart-widget span {
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
  }
  
  /* Ensure the content below the navbar is not hidden */
  .body-content {
    padding-top: 4rem; /* Adjust this value if needed */
  }
  